# Base settings to create the containers.
PROXY=proxy

PROJECT_NAME=ghi-local

REGISTRY=public.ecr.aws/unocha
IMAGE_NAME=ghi-site
IMAGE_TAG=local

SITE_DOMAIN=ghi-local.test

MYSQL_DB=ghi
MYSQL_USER=ghi
MYSQL_PASS=ghi

PHP_ENVIRONMENT=local
PHP_XDEBUG=true
