{#
/**
 * @file
 * Template for a HPC downloads batch progress bar in a modal window.
#}
<div class="hpc-download-batch-progress-bar-wrapper">
  <div class="hpc-download-batch-progress-bar"></div>
</div>
