<!-- -webkit-print-color-adjust: exact has been added in relation to this issue: https://github.com/GoogleChrome/puppeteer/issues/2182 -->
<style>* {box-sizing: border-box; -webkit-print-color-adjust: exact; font-family: "Roboto", helvetica, arial, sans-serif;}</style>
<div style="width: 100%; padding: 0 20px;">
    <p style="font-size: 8px; text-align: center;">{{ footer_text }}</p>
</div>