.hpc-progress-bar-wrapper {
  display: inline-block;
  border: 1px solid var(--hpc-orange);
  background-color: lighten(var(--hpc-orange), 40%);
  width: 100%;
  overflow: hidden;
  height: 14px;
}

.hpc-progress-bar-wrapper .hpc-progress-bar-inner {
  height: 100%;
  background-color: var(--hpc-orange);
}
