.hpc-progress-bar-wrapper {
  background-color: lighten(var(--hpc-orange), 40%);
  border: 1px solid var(--hpc-orange);
  display: inline-block ;
  width: 100%;
  height: 14px;
  overflow: hidden;
}

.hpc-progress-bar-wrapper .hpc-progress-bar-inner {
  height: 100%;
  background-color: var(--hpc-orange);
}