.form-type--entity_preview_select > label {
  position: initial;
}
.form-type--entity_preview_select > label > .preview-summary {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  z-index: 2;
  font-weight: normal;
  font-size: 1rem;
}

.form-type--entity_preview_select .filter-field-wrapper {
  float: right;
  position: relative;
  top: 1rem;
  display: flex;
  margin: 0 !important;
}
.form-type--entity_preview_select .filter-field-wrapper > label {
  font-weight: normal;
  font-size: 0.85em;
  margin-right: 0.5rem;
  padding-bottom: 0;
}
.form-type--entity_preview_select .filter-field-wrapper > input {
  font-size: 0.85em;
}

.form-type--entity_preview_select .filter-field-wrapper > input[type=search]::-webkit-search-cancel-button {
  appearance: searchfield-cancel-button;
}

.form-type--entity_preview_select .preview-wrapper {
  max-height: 25rem;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0.25rem;
}
.form-type--entity_preview_select .preview-content > [data-content-id] {
  height: auto;
  padding: 3px;
  background-color: white;
  position: relative;
  border-radius: 5px;
  border: 2px solid var(--ghi-grey--light);
  box-shadow: none;
  outline-offset: 4px;
}

.form-type--entity_preview_select .preview-content > [data-content-id] > * {
  zoom: 0.5;
}
.form-type--entity_preview_select .preview-content > [data-content-id] > *:not(.featured-checkbox) {
  touch-action: pan-x pan-y;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.form-type--entity_preview_select .preview-content > [data-content-id] > .featured-checkbox {
  zoom: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0.5rem;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  background-color: var(--ghi-yellow);
  text-align: center;
  font-size: .79em;
  line-height: 1.0625em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.form-type--entity_preview_select .preview-content > [data-content-id] > .featured-checkbox + div {
  padding-top: 4.2rem;
}
.form-type--entity_preview_select .preview-content > [data-content-id] > .featured-checkbox.disabled > * {
  opacity: 0.5;
  cursor: not-allowed;
}
.form-type--entity_preview_select .preview-content > [data-content-id].selected {
  border: 2px solid var(--ghi-yellow) !important;
  background-color: var(--ghi-grey--light);
}
.form-type--entity_preview_select .preview-content > [data-content-id].featured {
  opacity: 1;
  background-color: var(--ghi-yellow);
}
.form-type--entity_preview_select .preview-content > [data-content-id] > .featured-checkbox > input {
  margin-right: 0.3rem;
}
