.form-type--markup_select .preview-content > [data-content-id] {
  padding: 1rem;
  background-color: white;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 0 2px rgb(235 235 239);
  max-height: 15rem;
  overflow: auto;
  margin-top: 0;
}

.form-type--markup_select .preview-content > [data-content-id] iframe {
  pointer-events: none;
}

.form-type--markup_select .preview-content > [data-content-id]:focus {
  outline: 2px solid rgb(5, 80, 230) !important;
}

.form-type--markup_select .preview-content > [data-content-id] > * {
  zoom: 0.7;
}

.form-type--markup_select .preview-content > [data-content-id].selected {
  background-color: #f7d974;
}
