// Styles for a inline positioning.
footer.ghi-social-links--inline {
  width: auto;
  margin-top: 2px;
}

// Styles for a fixed position on the right of the screen.
footer.ghi-social-links--fixed {
  position: fixed;
  top: 50%;
  right: 0;
  display: inline-block;
  width: auto;

  & > .ghi-social-links__wrapper {
    display: inline-block;
    width: fit-content;
    padding: 0;
    background-color: var(--cd-black);

    ul {
      display: inline-flex;
      flex-direction: column;
      gap: 0;
      align-items: center;

      li {
        margin-top: 0.3rem;
        margin-left: 0 !important;
        padding: 0.3rem;
        border-bottom: 1px solid var(--cd-white);

        a {
          display: inline-block;
          overflow: hidden;
          width: 2rem;
          height: 2rem;
          padding: 0;

          svg {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;

            path {
              fill: var(--cd-white);
              scale: 2.3;
            }
          }

          &.ghi-social-links__link--twitter {
            position: relative;
            top: 0.6rem;
            left: 0.25rem;

            svg path {
              scale: 1.3;
            }
          }

          &.ghi-social-links__link--facebook svg {
            left: -4px;
          }

          &.ghi-social-links__link--facebook svg,
          &.ghi-social-links__link--linkedin svg {
            background-color: var(--cd-white);

            path {
              fill: var(--cd-black);
            }
          }
        }
      }
    }
  }
}
