/**
 * List styles
 */
.ghi-block .gho-related-articles {
  margin: 0;
  padding: 0;
  border-top: 0;

  .gho-related-articles__list article:first-child .gho-related-article {
    margin-top: 0;
  }

  .node--unpublished .gho-related-article {
    outline: 4px dashed #ffc310;
  }

  .gho-related-article picture {
    display: flex;
    margin-bottom: 1rem;

    img {
      width: 100%;
    }

    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }
}

/**
 * Thumbnail image
 */
@media screen and (min-width: 768px) {
  .gho-related-article .field--name-field-image {
    /* The 2.25rem are for the padding of the text */
    width: calc(40% - 2.25rem);
    min-width: 320px;

    [dir="ltr"] .gho-related-article .field--name-field-image {
      padding-right: 2.25rem;
      padding-left: 0;
    }
    [dir="rtl"] .gho-related-article .field--name-field-image {
      padding-right: 0;
      padding-left: 2.25rem;
    }
  }
}
