//——————————————————————————————————————————————————————————————————————————————
// Common Design: Mixins
//——————————————————————————————————————————————————————————————————————————————

//
// Standard clearfix.
//
// Drupal 7.59 system.base.css
//
@mixin clearfix {
  &::after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: ".";
  }
}

//
// from Drupal v8.6.2 see _cd-extends.scss
//
@mixin visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

//——————————————————————————————————————————————————————————————————————————————
// Common Design: z-index
//
// Provides syntactic sugar for common z-index values.
//
// Usage: @include z-index(dropdown);
//——————————————————————————————————————————————————————————————————————————————
@mixin z-index($value: 0) {
  @if map-has-key($zindex, $value) {
    z-index: #{map-get($zindex, $value)};
  }

  @else {
    @warn "`#{$value}` not found in `$zindex` map.";
  }
}
