.cd-layout-container {
  @supports (display: grid) {
    @media (min-width: 768px) {
      grid-template-rows: 115px auto 1fr auto;
      grid-auto-rows: auto;
    }
  }
}

// One sidebar.
.cd-layout-with-sidebar-first .cd-layout-sidebar-first,
.cd-layout-with-sidebar-second .cd-layout-sidebar-second {
  @media (min-width: 1024px) {
    flex-basis: var(--cd-sidebar-width);
  }
}

// Both sidebars, individually control.
.cd-layout-with-sidebar-both {
  .cd-layout-sidebar-first {
    margin-bottom: 1rem;

    @media (min-width: 768px) {
      flex-basis: var(--cd-sidebar-width);
    }

    @media (min-width: 1024px) {
      margin-bottom: 0;
    }
  }
}

// Faux sidebar in Node content.
// Requires markup in node-full.html.twig.
.cd-layout-two-col {
  .cd-layout-sidebar-first {
    @media (min-width: 1024px) {
      flex-basis: var(--cd-sidebar-width);
      margin-top: 0;
    }
  }
}
