//——————————————————————————————————————————————————————————————————————————————
// Common Design: Header
//——————————————————————————————————————————————————————————————————————————————
.cd-header button:focus {
  outline: none;
}

.cd-global-header {
  background: var(--cd-grey--lighter);
  background-image: linear-gradient(-180deg, var(--cd-grey--lighter) 67%, var(--cd-grey--light) 97%);

  .cd-global-header__actions,
  .cd-global-header__actions > * {
    background: transparent;
  }

  svg {
    fill: var(--ghi-default-text-color) !important;
  }

  a,
  * {
    color: var(--ghi-default-text-color);
  }

  .menu > li {

    &:last-child {
      padding-right: 0;
    }

    a {
      color: var(--ghi-default-text-color);

      &::after {
        background: var(--cd-default-border-color);
      }
    }

    &:last-child a {
      padding-right: 0;

      &::after {
        display: none;
      }
    }
  }
}

.cd-site-header {
  border-bottom: 0;

  .cd-nav > .menu > li:last-child {
    padding-right: 0;
  }
}

.cd-site-header__inner {
  height: $cd-site-header-height;

  @supports (display: grid) {
    grid-template-rows: $cd-site-header-height;
    grid-template-columns: 2fr 1fr;

    @include tablet {
      grid-template-columns: 260px 1fr;
    }
  }
}
