//——————————————————————————————————————————————————————————————————————————————
// Common Design: Logo
//
// Replace images with your site logo.
//——————————————————————————————————————————————————————————————————————————————

.region-header-logo {
  display: flex;
  // margin: 0.7rem 0;

  .cd-site-logo {
    // width: 186px;
    width: 100%;
    height: auto;
    margin: 0 0 0 -1.5rem;
    padding-left: 0.5rem;
    text-decoration: none;
    color: var(--ghi-default-text-color);
    // border-left: solid 2px var(--cd-primary-color);
    font-size: var(--cd-font-size--base);
    font-weight: bold;
    line-height: 1.3rem;

    &:focus {
      outline: none;
    }

    @supports (display: flex) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }

    // Logo for mobile.
    @include max-width(md) {
      margin: 1.2rem 0;
      background: url("../../../custom/common_design_subtheme/img/logos/logo-humanitarian-action.svg") center no-repeat;
      background: linear-gradient(transparent, transparent), url("../../../custom/common_design_subtheme/img/logos/logo-humanitarian-action.svg") center no-repeat;
      background-position: 0 center;
    }

    @include min-width(md) {
      img {
        width: auto;
        height: 40px;
      }
    }
  }

  .cd-site-slogan {
    margin: 0.7rem 0 0 2rem;
    line-height: 0.8rem;
  }
}
