.item-list--entity-logframe {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.item-list--entity-logframe + .cd-button,
.item-list--entity-logframe + .link-wrapper {
  margin-top: 1rem;
}
.item-list--entity-logframe > .item-wrapper > .entity-wrapper {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  padding: 2rem 1rem;
  background-color: var(--ghi-primary-background-color);
}
.item-list--entity-logframe > .item-wrapper .entity-wrapper--inner {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  margin-left: 1rem;
}
.item-list--entity-logframe > .item-wrapper .entity-wrapper--inner p {
  align-self: center;
  margin: 0;
  padding: 0;
}
.item-list--entity-logframe > .item-wrapper .entity-wrapper--inner p.label {
  position: relative;
  flex-grow: 0;
  white-space: nowrap;
  font-size: var(--cd-font-size--large);
  font-weight: bold;
}
.item-list--entity-logframe > .item-wrapper .entity-wrapper--inner p.label::after {
  position: absolute;
  top: -10%;
  right: -1.5rem;
  height: 120%;
  content: "";
  border-right: 4px solid var(--ghi-yellow);
}

.item-list--entity-logframe > .item-wrapper .entity-wrapper--inner p.description {
  position: relative;
  flex-grow: 1;
  font-size: var(--cd-font-size--base);
}

.entity-type--plan .item-list--entity-logframe > .item-wrapper .entity-wrapper--inner,
.entity-type--governingentity .item-list--entity-logframe > .item-wrapper .entity-wrapper--inner {
  flex-direction: column;
  gap: 0;
}
.entity-type--plan .item-list--entity-logframe > .item-wrapper .entity-wrapper--inner p,
.entity-type--governingentity .item-list--entity-logframe > .item-wrapper .entity-wrapper--inner p {
  align-self: flex-start;
}

.item-list--entity-logframe > .item-wrapper .entity-wrapper span.table-toggle,
.item-list--entity-logframe > .item-wrapper .entity-wrapper span.table-no-data {
  flex-grow: 0;
  align-self: center;
  width: fit-content;
  margin-right: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  user-select: none;
  transition: transform 0.25s linear;
  transition-duration: 0.25s !important;
  transform: rotate(0deg);
  border-radius: 50%;
  background-color: var(--brand-grey);
  will-change: transform;
}

.item-list--entity-logframe > .item-wrapper .entity-wrapper span.table-toggle.open {
  transform: rotate(180deg);
}

.item-list--entity-logframe > .item-wrapper > .entity-wrapper span.table-toggle,
.item-list--entity-logframe > .item-wrapper > .entity-wrapper span.table-no-data {
  visibility: hidden;
}
.item-list--entity-logframe > .item-wrapper .entity-wrapper span.table-no-data {
  display: none;
}
.item-list--entity-logframe > .item-wrapper .entity-wrapper.no-tables.no-alignment span.table-no-data {
  display: block;
  visibility: visible;
}

.item-list--entity-logframe > .item-wrapper > .attachment-tables-wrapper {
  display: none;
  padding: 2rem 1rem 2rem 2rem;
  border-left: 4px solid var(--ghi-yellow);
}

.item-list--entity-logframe > .item-wrapper > .attachment-tables-wrapper table thead th:first-child {
  width: 100%;
}

.item-list--entity-logframe > .item-wrapper .empty-message {
  font-size: var(--cd-font-size--small);
}
