table.has-progress-indicator tbody td[data-progress-group] .value-wrapper {
  position: relative;
}

table.has-progress-indicator tbody td[data-progress-group] .value-wrapper span.progress-indicator-wrapper {
  position: absolute;
  bottom: -0.4rem;
  left: 0;
  width: calc(100% - 2rem);
}

table.has-progress-indicator tbody td[data-progress-group] .value-wrapper span.progress-indicator-wrapper span.progress-indicator {
  background-color: var(--cd-primary-color);
  height: 4px;
  display: block;
}