{{ attach_library('common_design/cd-dropdown') }}

<div data-cd-component="cd-dropdown" data-cd-icon="arrow-down" id="cd-dropdown--section-switcher" class="cd-dropdown" aria-labelledby="dropdown-title" data-cd-toggable="{{ 'Previous years'|t }}"
  {{ items }}
</div>