{#
/**
 * @file
 * Theme override for a plan headline figures item list.
 *
 * Available variables:
 * - figures: A list of items. Each item contains:
 *   - label: A label for the list item.
 *   - value: The content of the list element.
 * - title: The title of the list.
 * - list_type: The tag for list element ("ul" or "ol").
 * - wrapper_attributes: HTML attributes to be applied to the list wrapper.
 * - attributes: HTML attributes to be applied to the list.
 * - empty: A message to display when there are no items. Allowed value is a
 *   string or render array.
 * - context: A list of contextual data associated with the list. May contain:
 *   - list_style: The custom list style.
 *
 * @see common_design_subtheme_preprocess_item_list__plan_headline_figures()
 */
#}
{{ attach_library('common_design/cd-grid') }}
{{ attach_library('common_design_subtheme/ghi-entity-logframe') }}

{%- if items -%}
  <div class="item-list--entity-logframe">
    {%- for item in items -%}
      <div class="item-wrapper">
        <div class="entity-wrapper">
          {{ item.value.label }}
          {%- if not item.value.attachment_tables is empty -%}
            <span class="table-toggle material-icons">menu</span>
          {%- endif -%}
        </div>
        {%- if not item.value.attachment_tables is empty -%}
          <div class="attachment-tables-wrapper">
            {{ item.value.attachment_tables }}
          </div>
        {%- endif -%}
      </div>
    {%- endfor -%}
  </div>
{%- endif -%}
