.gin-secondary-toolbar {
  z-index: 200 !important;
}
.views-element-container .gin-table-scroll-wrapper {
  /** Needed to always see the operation links dropbutton content. */
  overflow: visible;
}

.views-element-container .gin-table-scroll-wrapper table.sticky-header {
  /** See https://www.drupal.org/project/gin/issues/3323501#comment-15399587 */
  width: auto;
}

.glb-button.button-small,
.glb-button.button-small:not(:focus) {
  font-size: 14px !important;
  margin: 0 0.5rem !important;
  padding: calc(0.5em - 1px) calc(0.75em - 1px) !important;
  border: 1px solid var(--colorGinPrimary) !important;
  border-radius: 4px !important;
}

body[data-gin-accent] .dialog-off-canvas-main-canvas form .messages-list .messages.messages--info {
  color: black;
  background-color: lightgray;
  border: 0;
}

.glb-form-element--type-select {
  width: auto !important;
  max-width: auto !important;
}

.glb-form-item__description,
.glb-fieldset__description {
  line-height: 1.3rem !important;
}
.ui-dialog *:focus {
  box-shadow: none !important;
}

#layout-builder-modal ul.ui-widget.ui-autocomplete .ui-menu-item-wrapper {
  display: block;
  padding: 0.75rem 0.9375rem;
}

#layout-builder-modal ul.ui-widget.ui-autocomplete .ui-menu-item-wrapper:hover,
#layout-builder-modal ul.ui-widget.ui-autocomplete .ui-menu-item-wrapper.ui-state-active {
  color: black;
  background-color: lightgray;
  border: 1px solid lightgray;
  margin: -1px;
}