.hpc-form-wrapper {
  padding: 1rem;
  margin-bottom: 1rem;
}

.hpc-form-wrapper .glb-form-item--error-message {
  padding: 0.5rem 0;
}

/* #layout-builder-modal input[data-drupal-selector="edit-actions-submit"].button--primary {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
} */

.hpc-form-wrapper table {
  width: 100%;
  margin-top: 0;
  margin-bottom: 1.5rem;
  border-collapse: collapse;
}
.hpc-form-wrapper table thead {
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
  box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
}
.hpc-form-wrapper table th {
  color: var(--colorGinText);
  background: var(--colorGinTableHeader);
  position: relative;
  box-sizing: border-box;
  height: 3rem;
  padding: 0.5rem 1rem;
  text-align: left;
  color: #222330;
  background: #f3f4f9;
  line-height: 1.25rem;
  white-space: nowrap;
}
.hpc-form-wrapper table th:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.hpc-form-wrapper table th:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.hpc-form-wrapper table tbody tr {
  border-bottom: 1px solid var(--colorGinTableBorder);
  color: var(--colorGinText);
  background-color: transparent;
}
.hpc-form-wrapper table tbody tr:hover,
.hpc-form-wrapper table tbody tr:focus {
  color: #222330;
  background: #f0f5fd;
}
.hpc-form-wrapper table tbody tr td {
  box-sizing: border-box;
  height: 4rem;
  padding: 0.5rem 1rem;
  text-align: left;
  vertical-align: inherit;
}

#layout-builder-modal {
  margin-bottom: 5rem;
}
form.layout-builder-configure-block.glb-canvas-form {
  position: inherit;
}
form.layout-builder-configure-block.glb-canvas-form .glb-canvas-form__actions {
  position: absolute !important;
  display: flex;
  bottom: 0;
  right: 0;
  left: 0;
  flex-direction: row-reverse;
}

form.layout-builder-configure-block.glb-canvas-form .glb-canvas-form__actions .ghi-layout-builder-subform-buttons {
  position: absolute;
  left: 20px;
}

form.layout-builder-configure-block.glb-canvas-form .glb-canvas-form__actions .ghi-layout-builder-subform-buttons .form-item-preview-toggle {
  display: inline-block;
}
form.layout-builder-configure-block.glb-canvas-form .glb-canvas-form__actions input[disabled] {
  cursor: not-allowed !important;
  opacity: 0.5;
}
