.hpc-form-wrapper {
  padding: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

#form-wrapper-ghi-block-config.hpc-form-wrapper {
  padding: 0;
}

.ghi-glb-form .glb-form-wrapper > fieldset {
  border: 0;
}

.ghi-glb-form .glb-form-wrapper > fieldset legend {
  margin: 1rem 0;
}

.ghi-glb-form .glb-form-wrapper .group-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1.5em !important;
  margin-bottom: 1.5em !important;
}
.ghi-glb-form .glb-form-wrapper .group-container > .glb-form-item {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.ghi-glb-form .glb-form-item--error-message {
  padding: 0.5rem 0;
}

.ghi-glb-form .glb-claro-details {
  background-color: var(--colorGinAppBackground) !important;
}

.ghi-glb-form > :not([data-block-preview]) table.ghi-table {
  width: 100%;
  margin-top: 0;
  margin-bottom: 1.5rem;
  border-collapse: collapse;
}
.ghi-glb-form > :not([data-block-preview]) table.ghi-table thead {
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
  box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
}
.ghi-glb-form > :not([data-block-preview]) table.ghi-table th {
  color: var(--colorGinText);
  background: var(--colorGinTableHeader);
  position: relative;
  box-sizing: border-box;
  height: 3rem;
  padding: 0.5rem 1rem;
  text-align: left;
  color: #222330;
  background: #f3f4f9;
  line-height: 1.25rem;
  white-space: nowrap;
}
.ghi-glb-form > :not([data-block-preview]) table.ghi-table th:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.ghi-glb-form > :not([data-block-preview]) table.ghi-table th:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.ghi-glb-form > :not([data-block-preview]) table.ghi-table tbody tr {
  border-bottom: 1px solid var(--colorGinTableBorder);
  color: var(--colorGinText);
  background-color: transparent;
}
.ghi-glb-form > :not([data-block-preview]) table.ghi-table tbody tr:hover,
.ghi-glb-form > :not([data-block-preview]) table.ghi-table tbody tr:focus {
  color: #222330;
  background: #f0f5fd;
}
.ghi-glb-form > :not([data-block-preview]) table.ghi-table tbody tr td {
  box-sizing: border-box;
  height: 4rem;
  padding: 0.5rem 1rem;
  text-align: left;
  vertical-align: inherit;
}
.ghi-glb-form > :not([data-block-preview]) table.ghi-table tbody tr.draggable {
  position: relative;
}
.ghi-glb-form > :not([data-block-preview]) table.ghi-table tbody tr.draggable td:first-child {
  padding-left: 2rem;
}
.ghi-glb-form > :not([data-block-preview]) table.ghi-table tbody tr.draggable td:first-child a.tabledrag-handle {
  float: none;
  position: absolute;
  top: calc(50% - 12px);
  left: 0.5rem;
  height: 37px;
}
.ghi-glb-form > :not([data-block-preview]) table.ghi-table tbody tr.draggable td:first-child a.tabledrag-handle .handle {
  background-position-y: center;
}

.ghi-glb-form .ghi-block {
  margin-top: 0 !important;
}

#layout-builder-modal {
  margin-bottom: 5rem;
}
#layout-builder-modal.has-second-level-actions {
  margin-bottom: 10rem;
}
#layout-builder-modal .second-level-actions-wrapper {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  bottom: 5rem;
  left: 0;
  z-index: 2;
  padding: 0 1rem;
  width: 100%;
  background-color: var(--colorGinAppBackground);
  border-top: 1px solid var(--cd-default-border-color);
  border-bottom: 1px solid var(--cd-default-border-color);
}
#layout-builder-modal .second-level-actions-wrapper > *:first-child {
  margin-right: 0 !important;
}
form.ghi-glb-form.glb-canvas-form,
#layout-builder-modal form.glb-canvas-form {
  position: static;
  min-height: 6rem;
}
form.ghi-glb-form.glb-canvas-form .glb-canvas-form__settings {
  position: static;
  padding-top: 0.5rem;
}
form.ghi-glb-form.glb-canvas-form details.glb-claro-details {
  margin-top: 1rem;
  border-top: 0 !important;
}
form.ghi-glb-form.glb-canvas-form details.glb-claro-details .claro-details__description {
  line-height: 1.5rem;
}
form.ghi-glb-form.glb-canvas-form .glb-messages-list {
  margin: 0 !important;
  display: none !important;
}
form.ghi-glb-form.glb-canvas-form .hpc-form-wrapper > .glb-form-item:first-child,
form.ghi-glb-form.glb-canvas-form .hpc-form-wrapper .ghi-element-wrapper > .glb-form-item:first-child,
form.ghi-glb-form.glb-canvas-form .hpc-form-wrapper .filter-container > .glb-form-item {
  margin-top: 0 !important;
}
form.ghi-glb-form.glb-canvas-form .hpc-form-wrapper .glb-fieldset__description,
form.ghi-glb-form.glb-canvas-form .hpc-form-wrapper .glb-form-item__description {
  max-width: 100% !important;
}
form.ghi-glb-form.glb-canvas-form .hpc-form-wrapper .glb-form-checkboxes .glb-form-type--checkbox {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}
form.ghi-glb-form.glb-canvas-form .glb-canvas-form__actions,
#layout-builder-modal form.glb-canvas-form .glb-canvas-form__actions {
  position: absolute !important;
  bottom: 0;
  right: 0;
  left: 0;
  height: 5rem;
  display: block;
  text-align: right;
  padding-right: 1rem;
  padding-left: 1rem;
  flex-direction: row-reverse;
  border-top: 1px solid var(--colorGinLayerBorder);
  background: var(--colorGinAppBackground);
}
form.ghi-glb-form.glb-canvas-form .glb-canvas-form__actions.gin-sticky-form-actions,
#layout-builder-modal form.glb-canvas-form .glb-canvas-form__actions.gin-sticky-form-actions {
  width: auto;
  height: 5rem;
}
form.ghi-glb-form.glb-canvas-form .glb-canvas-form__actions.gin-sticky-form-actions > .gin-more-actions,
#layout-builder-modal form.glb-canvas-form .glb-canvas-form__actions.gin-sticky-form-actions > .gin-more-actions {
  margin: 0 !important;
  height: 100%;
}
form.ghi-glb-form.glb-canvas-form .glb-canvas-form__actions.gin-sticky-form-actions > .gin-more-actions .gin-more-actions__menu,
#layout-builder-modal form.glb-canvas-form .glb-canvas-form__actions.gin-sticky-form-actions > .gin-more-actions .gin-more-actions__menu {
  height: 100%;
}

#layout-builder-modal .glb-canvas-form__actions *:last-child {
  margin-right: 0 !important;
}

#layout-builder-modal form.glb-canvas-form.confirmation .glb-canvas-form__actions {
  flex-direction: row;
  display: block;
  text-align: left;
}

form.ghi-glb-form.glb-canvas-form .glb-canvas-form__actions .ghi-layout-builder-subform-buttons,
#layout-builder-modal form.ghi-glb-form .canvas-form__actions .ghi-layout-builder-subform-buttons {
  position: absolute;
  left: 1rem;
}

form.ghi-glb-form.glb-canvas-form .glb-canvas-form__actions .ghi-layout-builder-subform-buttons > .glb-form-type--checkbox,
#layout-builder-modal form.ghi-glb-form .canvas-form__actions .ghi-layout-builder-subform-buttons > .glb-form-type--checkbox {
  display: inline-block;
  text-align: left;
}
form.ghi-glb-form.glb-canvas-form .glb-canvas-form__actions input[disabled],
#layout-builder-modal form.ghi-glb-form .canvas-form__actions input[disabled] {
  cursor: not-allowed !important;
  opacity: 0.5;
}

#layout-builder-modal .confirmation {
  min-height: auto !important;
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
}
#layout-builder-modal .confirmation .glb-canvas-form__settings {
  padding-left: 0;
  padding-right: 0;
}

#layout-builder-modal form.glb-canvas-form .glb-canvas-form__actions > a,
#layout-builder-modal form.glb-canvas-form .glb-canvas-form__actions .gin-more-actions__menu > a {
  display: inline-block;
  padding: 2rem 1rem;
}

#layout-builder-modal--messages {
  line-height: 1.5rem;
}
#layout-builder-modal a.tabledrag-handle .handle {
  margin-top: 0.4rem;
  background-position-x: 0;
}
