.glb-toolbar {
  z-index: 200 !important;
}
input[type="checkbox"][disabled="disabled"] {
  background-color: var(--colorGinDisabled) !important;
}

body.path-node #layout-builder .layout-builder__add-section {
  margin-top: 2rem;
}
body.path-node #layout-builder .layout-builder__add-section:first-child {
  margin-top: 0;
}

body.path-node #layout-builder:hover .layout-builder__section > .layout-builder__layout > .layout-builder__region {
  outline-offset: 1.5rem;
  outline-color: var(--colorGinPrimary);
  outline-style: none;
  outline-width: 1px;
}
body.path-node #layout-builder .layout-builder__section:not(.gin-lb--disable-section-focus):hover:after {
  content: none !important;
}

body.path-node #layout-builder .layout-builder__section .layout-builder__link {
  top: -3rem !important;
  display: none;
  color: var(--colorGinFormElementBorder);
}
body.path-node #layout-builder .layout-builder__section .layout-builder__link--remove {
  background-color: var(--colorGinFormElementBorder);
}
body.path-node #layout-builder:hover .layout-builder__section .layout-builder__link {
  display: block;
}
body.path-node #layout-builder:hover .layout-builder__section:hover .layout-builder__link--configure:after {
  background-color: var(--colorGinFormElementBorder);
}

.layout-builder__section:hover:after {
  border: 0 !important;
}

.glb-layout-builder-browser.block-categories {
  display: flex;
  flex-wrap: wrap;
}
.glb-layout-builder-browser.block-categories .glb-claro-details {
  margin-right: 0 !important;
  margin-left: 0 !important;
  width: 33%;
  min-width: 350px;
  flex-grow: 5;
  border-top: 0 !important;
  border-bottom: 0 !important;
}
.glb-layout-builder-browser.block-categories .glb-claro-details__wrapper {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.glb-layout-builder-browser.block-categories .glb-list {
  width: 100%;
}
.glb-layout-builder-browser.block-categories .glb-list li {
  position: relative;
}
.glb-layout-builder-browser.block-categories .glb-list li .ajax-progress-throbber {
  position: absolute;
  top: 0.4rem;
  right: -0.6rem;
  background-color: white !important;
}
.glb-layout-builder-browser.block-categories .glb-list li .ajax-progress-throbber::before {
  top: 0.4rem;
  left: 0.4rem;
}

.glb-form-item--error-message {
  color: #d72222;
  font-size: .79em
}