:root {
  /**
   * Site-specific brand colors
   *
   * Set these variables and the CD Header/Footer will re-color to your brand.
   */
  --brand-primary: var(--ghi-yellow);
  --brand-primary--dark: var(--cd-primary-color);
  --brand-highlight: var(--ghi-yellow);
}
