body.page-node-type-article {

  .region-page-title {
    margin-top: 4rem;

    .title-prefix {
      display: inline-block;
      margin-top: 1rem;
      padding: 0.5rem 1rem;
      text-transform: uppercase;
      background-color: var(--ghi-primary-button-color);
      font-size: var(--cd-font-size--small);
      font-weight: 700;
    }

    .cd-page-title {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  article.node--view-mode-full {

    footer.node__meta {
      padding: 1rem 0;
      border-top: 1px solid var(--ghi-default-border-color);
      border-bottom: 1px solid var(--ghi-default-border-color);

      .node__submitted {
        display: flex;
        gap: 1rem;
        font-size: var(--cd-font-size--small);
      }
    }
  }
}
