body.page-node-type-article,
body.page-node-type-document {

  .region-page-title {

    .title-prefix {
      display: inline-block;
      margin-top: 1rem;
      padding: 0.5rem 1rem;
      text-transform: uppercase;
      background-color: var(--ghi-primary-button-color);
      font-size: var(--cd-font-size--small);
      font-weight: 700;
    }
  }

  article.node--view-mode-full {

    .document-summary {
      margin-bottom: 4.5rem;
    }

    footer.node__meta {
      padding: 1rem 0;
      border-top: 1px solid var(--ghi-default-border-color);
      border-bottom: 1px solid var(--ghi-default-border-color);

      .node__submitted {
        display: flex;
        gap: 1rem;
        font-size: var(--cd-font-size--small);
      }
    }

    .content-wrapper {
      margin-top: 4.5rem;
    }

    .paragraph--type--text .gho-text__text a > .media--view-mode-thumbnail-medium {
      &.align-right {
        margin-bottom: 1rem;
        margin-left: 2rem;
        text-align: center;
        line-height: 0.7rem;
      }
      .field--name-field-credits {
        width: auto;
        padding: 0.9rem 0.9rem;
        word-wrap: break-word;
        background-color: var(--ghi-yellow);
        font-size: var(--cd-font-size--small);
        font-weight: bold;
      }
    }
  }
}
