h1.page-title {
  padding-right: 0.3rem;
}
#updateprogress .progress__description {
  padding-right: 0.3rem;
}
body,
.region-sticky {
  background-color: #FDFBF7 !important;
}

table {
  background-color: white;
}
