h1.page-title {
  padding-right: 0.3rem;
}
#updateprogress .progress__description {
  padding-right: 0.3rem;
}
body,
.region-sticky {
  background-color: #fdfbf7 !important;
}

table {
  background-color: white;
}

.layout--twocol-section.layout--twocol-section--50-50 {
  gap: 1rem;
  justify-content: space-between;
}
.layout--twocol-section.layout--twocol-section--50-50 > .layout__region--first,
.layout--twocol-section.layout--twocol-section--50-50 > .layout__region--second {
  flex: 0 1 calc(50% - 0.5rem) !important;
}

.ui-dialog[aria-describedby="layout-builder-modal"] .ui-dialog-titlebar {
  box-sizing: border-box;
}

.ui-dialog #drupal-modal {
  padding: 2rem 1.5rem;
}

table.gin--sticky-table-header thead th {
  word-break: auto-phrase;
}
