.map-wrapper-outer {

  .map-sidebar--wrapper {
    width: auto;
    font-size: var(--cd-font-size--base);
    a.close {
      position: absolute;
      z-index: 800;
      top: 20px;
      right: 20px;
      overflow: hidden;
      width: 24px;
      height: 24px;
      margin: 0;
      cursor: pointer;
      text-align: center;
      text-indent: 0;
      opacity: 1 !important;
      color: var(--cd-primary-color);
      border-radius: 0;
      background: none;
      font-size: 24px;
      line-height: 24px;
    }

    .map-sidebar {
      overflow: hidden;
      padding: 0;

      // Commmon for map card and map settings.
      .map-plan-card-container,
      .map-plan-card-settings-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        line-height: 24px;

        .modal-header {
          height: auto;
          margin-bottom: 0.5rem;
          padding: 1rem 1rem 0.5rem 1rem;
          color: var(--ghi-default-text-color);
          border: none;
          font: inherit;

          div.title {
            font-size: var(--cd-font-size--base);
            font-weight: bold;
            line-height: 24px;
          }
        }
        .modal-content {
          overflow: auto;
          height: 100%;
          padding: 0 1rem;
          border: none;
          box-shadow: none;
          font-size: var(--cd-font-size--small);
        }
      }
      .map-plan-card-container {
        width: 375px;

        .modal-header {
          .navigation {
            position: relative;
            left: -0.5rem;
            display: flex;
            color: var(--ghi-default-text-color);
            font-size: var(--cd-font-size--tiny);
            line-height: 24px;

            .link {
              height: 24px; // Same height as the material icon inside.
              cursor: pointer;
              color: var(--cd-primary-color);
              font-weight: bold;
              &.disabled {
                cursor: default;
                color: var(--hpc-grey);
              }
            }
          }

          div.title,
          div.admin-area {
            line-height: 24px;
          }

          div.title {
            font-size: var(--cd-font-size--base);
            font-weight: 700;
          }
          div.tag-line {
            font-size: var(--cd-font-size--tiny);
            font-weight: 400;
          }
          div.admin-area {
            padding-bottom: 0.5rem;
            text-transform: uppercase;
            border-bottom: 1px solid #e1e1e1;
            font-size: var(--cd-font-size--extra-tiny);
            font-size: 10px;
          }
        }

        .modal-content {
          div.section-header {
            display: flex;
            gap: 0.5rem;
            align-items: center;
            margin-bottom: 0;
            text-transform: uppercase;
            font-size: var(--cd-font-size--small);
            font-weight: 700;
            line-height: 16px;

            span {
              display: inline-block;
            }
          }

          div.monitoring-period {
            color: var(--ghi-default-text-color);
            font-size: var(--cd-font-size--small);
          }

          .map-card-metric-wrapper,
          .ratio-visible {
            display: flex;
            justify-content: space-between;
            & > div {
              display: inline-block;
            }

            .metric-color-code {
              position: relative;
              top: -0.1rem;
              display: inline-block;
              width: 0.5rem;
              height: 0.5rem;
              margin-top: 0;
              margin-right: 0.4rem;
              border-radius: 50%;
            }

            .metric-label {
              margin-right: 1rem;
            }

            .metric-value {
              font-weight: bold;
            }
          }

          .monitoring-period-wrapper {
            margin-top: 1rem;
            padding: 0.5rem 0;

            .measurement-bar-chart-container {
              svg {
                pointer-events: all;
                g {
                  pointer-events: all;
                }
              }
            }
          }
        }
      }

      .map-plan-card-settings-container {
        width: 400px;
      }
    }
  }

  .map-tabs {
    height: auto;
    background-color: var(--ghi-default-text-color);

    ul {
      display: flex;
      height: 100%;
      margin: 0;
      padding: 0;
      gap: 2rem;
      list-style-type: none;

      li {
        position: relative;
        height: auto;
        padding: 0.5rem 0;
        color: var(--cd-white);
        font-size: var(--cd-font-size--small);

        a {
          cursor: pointer;
          text-decoration: none;
          color: var(--cd-white) !important;
          font-size: inherit;
        }

        .ghi-dropdown__btn + div.cd-dropdown {
          position: absolute;
          z-index: z-index(map, 1);
          top: 2.5rem;
          left: -0.3rem;
          border-top: 0;

          div.ghi-dropdown--content {
            display: flex;
            flex-direction: column;
            padding: 0;
            border-top: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;

            a {
              display: inline-block;
              padding: 0.3rem;
              white-space: nowrap;
              color: var(--ghi-default-text-color) !important;

              &:hover {
                cursor: pointer;
                background-color: var(--ghi-yellow);
              }
            }
          }
        }

        &.active {
          border-bottom: 4px solid var(--ghi-yellow);
        }
      }
    }
  }

  .circle {
    margin-top: 0.5rem;

    .map-legend {
      position: absolute;
      z-index: 90;
      top: 1rem;
      right: 1rem;
      padding: 0.5rem;
      background: var(--cd-white);

      .legend-caption {
        margin: 0 0 0.5rem 0;
        font-size: var(--cd-font-size--tiny);
      }

      ul {
        display: flex;
        margin: 0;
        padding: 0;
        border-radius: 3px;

        li.legend-item {
          display: flex;
          margin: 0 1rem 0 0;
          padding: 2px;

          .legend-icon {
            width: 0.5rem;
            height: 0.5rem;
            margin-top: 0.3rem;
            margin-right: 0.4rem;
            border-radius: 50%;
          }
          .legend-label {
            color: var(--ghi-default-text-color);
            font-size: var(--cd-font-size--tiny);
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    &.circle .legend-icon {
      width: 1rem !important;
      height: 1rem !important;
      margin-top: 0 !important;
      margin-right: 0 !important;
    }
  }

  .map-container {
    position: relative;
    width: 100%;
    min-height: 460px;
    margin: 0;
    padding: 0;
    border: 1px solid var(--hpc-border-color);
    border-bottom: 0;

    .download-link-wrapper {
      float: right;
      margin-left: 1rem;

      @include max-width(sm) {
        margin-left: 0.5rem;
      }
    }
  }

  .map-circle-tooltip,
  .measurement-bar-chart-tooltip {
    padding: 5px 10px;
    color: var(--cd-white);
    border-radius: 5px;
    background-color: var(--cd-black);
    font-size: 12px;
    line-height: 1.2rem;

    div {
      display: flex;
      justify-content: space-between;
    }
  }

  .map-disclaimer {
    width: 100%;
    padding: .2rem;
    text-align: center;
    border: 1px solid var(--hpc-border-color);
    border-top: 0;
    background: rgba(251, 251, 251, .9);
    font-size: 11px;
  }
}
