:root {
  --ghi-map-admin-area-label-color: #4D4D4D;
  --ghi-map-donut-full: #E3ECF6;
  --ghi-map-donut-slice-1: #ED1847;
  --ghi-map-donut-slice-2: #F58220;
  // @tbd
  --ghi-map-donut-slice-3: rgb(218, 129, 44);
  --ghi-map-donut-border: #009EDB;
  --ghi-map-legend-outline: #4D4D4D;
}

.map-wrapper-outer {

  .mapboxgl-ctrl-bottom-left {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 10px;

    .mapboxgl-ctrl-group {
      margin: 0;
    }

    .mapboxgl-ctrl-group:not(:empty) {
      width: fit-content;
      margin: 10px 0 0 0;
    }
  }

  .mapboxgl-ctrl-group:not(:empty),
  .map-sidebar,
  .circle .map-legend:not(:empty),
  .composite .map-legend--inner:not(:empty) {
    width: fit-content;
    border: 1px solid var(--ghi-default-border-color-background);
    border-radius: 4px;
  }

  .mapboxgl-ctrl-group.legend {
    border: 0;
    border-radius: 0;
    background: transparent;
  }

  .map-throbber--wrapper {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: block;
    width: 2rem;
    height: 2rem;
  }

  &.map-wrapper-plan-operational-presence-map .map-throbber--wrapper {
    top: 3.25rem;
  }

  .map-sidebar--wrapper {
    width: auto;
    font-size: var(--cd-font-size--base);
    a.close {
      position: absolute;
      z-index: 800;
      top: 20px;
      right: 20px;
      overflow: hidden;
      width: 24px;
      height: 24px;
      margin: 0;
      cursor: pointer;
      text-align: center;
      text-indent: 0;
      opacity: 1 !important;
      color: var(--cd-primary-color);
      border-radius: 0;
      background: none;
      font-size: 24px;
      line-height: 24px;
    }

    .map-sidebar {
      position: absolute;
      z-index: 3;
      top: 0.5rem;
      right: 0.5rem;
      bottom: 0.5rem;
      overflow: hidden;
      padding: 0;
      background-color: white;

      // Commmon for map card and map settings.
      .map-plan-card-container,
      .map-plan-card-settings-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        line-height: 24px;

        .modal-header {
          height: auto;
          margin-bottom: 0.5rem;
          padding: 1rem 1rem 0.5rem 1rem;
          color: var(--ghi-default-text-color);
          border: none;
          font: inherit;

          div.title {
            font-size: var(--cd-font-size--base);
            font-weight: bold;
            line-height: 24px;
          }
        }
        .modal-content {
          overflow: auto;
          height: 100%;
          padding: 0 1rem;
          border: none;
          box-shadow: none;
          font-size: var(--cd-font-size--small);
        }
      }
      .map-plan-card-container {
        width: 375px;

        .modal-header {
          .navigation {
            position: relative;
            left: -0.5rem;
            display: flex;
            color: var(--ghi-default-text-color);
            font-size: var(--cd-font-size--tiny);
            line-height: 24px;

            .link {
              height: 24px; // Same height as the material icon inside.
              cursor: pointer;
              color: var(--cd-primary-color);
              font-weight: bold;
              &.disabled {
                cursor: default;
                color: var(--hpc-grey);
              }
            }
          }

          div.title,
          div.admin-area {
            line-height: 24px;
          }

          div.title {
            font-size: var(--cd-font-size--base);
            font-weight: 700;
          }
          div.tag-line {
            font-size: var(--cd-font-size--tiny);
            font-weight: 400;
          }
          div.admin-area {
            padding-bottom: 0.5rem;
            text-transform: uppercase;
            border-bottom: 1px solid #e1e1e1;
            font-size: var(--cd-font-size--extra-tiny);
            font-size: 10px;
          }
        }

        .modal-content {
          div.section-header {
            display: flex;
            gap: 0.5rem;
            align-items: center;
            margin-bottom: 0;
            text-transform: uppercase;
            font-size: var(--cd-font-size--small);
            font-weight: 700;
            line-height: 16px;

            span {
              display: inline-block;
            }
          }

          div.monitoring-period {
            color: var(--ghi-default-text-color);
            font-size: var(--cd-font-size--small);
          }

          .map-card-metric-wrapper,
          .ratio-visible {
            display: flex;
            justify-content: space-between;
            & > div {
              display: inline-block;
            }

            .metric-color-code {
              position: relative;
              top: -0.1rem;
              display: inline-block;
              width: 0.5rem;
              height: 0.5rem;
              margin-top: 0;
              margin-right: 0.4rem;
              border-radius: 50%;
            }

            .metric-label {
              margin-right: 1rem;
            }

            .metric-value {
              font-weight: bold;
            }
          }

          .monitoring-period-wrapper {
            margin-top: 1rem;
            padding: 0.5rem 0;

            .measurement-bar-chart-container {
              svg {
                pointer-events: all;
                g {
                  pointer-events: all;
                }
              }
            }
          }
        }
      }

      .map-plan-card-settings-container {
        width: 400px;
      }
    }
  }

  .map-tabs {
    // overflow-x: auto;
    height: auto;
    background-color: var(--ghi-default-text-color);

    .map-tabs--inner {
      // overflow-x: auto;
      max-width: calc(100vw - 2* var(--cd-container-padding));
    }

    ul {
      display: flex;
      width: fit-content;
      height: 100%;
      margin: 0 1rem;
      padding: 0;
      gap: 0;
      list-style-type: none;

      li {
        position: relative;
        height: auto;
        margin: 0 1rem;
        padding: 0.5rem 0;
        color: var(--cd-white);
        font-size: var(--cd-font-size--small);
        line-height: 1.2;

        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }

        a {
          cursor: pointer;
          text-decoration: none;
          color: var(--cd-white) !important;
          font-size: inherit;
        }

        .ghi-dropdown__btn + div.cd-dropdown {
          position: absolute;
          z-index: z-index(map, 1);
          top: 2.5rem;
          left: -0.3rem;
          border-top: 0;

          div.ghi-dropdown--content {
            display: flex;
            flex-direction: column;
            padding: 0;
            border-top: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;

            a {
              display: inline-block;
              padding: 0.3rem;
              white-space: nowrap;
              color: var(--ghi-default-text-color) !important;

              &:hover {
                cursor: pointer;
                background-color: var(--ghi-yellow);
              }
            }
          }
        }

        &.active {
          border-bottom: 4px solid var(--ghi-yellow);
        }
      }
    }
  }

  .circle,
  .composite {
    margin-top: 0.5rem;

    &.circle .map-legend:not(:empty),
    &.composite .map-legend--inner {
      padding: 0.5rem;
      background: var(--cd-white);

      .legend-caption {
        margin: 0 0 0.5rem 0;
        font-size: var(--cd-font-size--tiny);
      }

      ul {
        display: flex;
        margin: 0;
        padding: 0;
        border-radius: 3px;

        li.legend-item {
          display: flex;

          .legend-icon {
            width: 0.5rem;
            height: 0.5rem;
            margin-top: 0.3rem;
            margin-right: 0.4rem;
            border-radius: 50%;
          }
          .legend-label {
            color: var(--ghi-default-text-color);
            font-size: var(--cd-font-size--tiny);
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    &.circle .legend-icon {
      width: 1rem !important;
      height: 1rem !important;
      margin-top: 0 !important;
      margin-right: 0 !important;
    }

    &.composite .map-legend {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      ul {
        flex-direction: column;

        .legend-item {
          gap: 0.5rem;
          align-items: center;
          padding: 0.2rem 0.4rem;
          border-radius: 5px;

          &.toggle {
            cursor: pointer;

            &:hover {
              background-color: var(--ghi-grey--background);
            }

            &.inactive {
              opacity: 0.5;
            }
          }

          .legend-icon {
            width: 1.5rem !important;
            height: 1.5rem !important;
            margin-top: 0 !important;
            margin-right: 0 !important;

            &.legend-icon-full {
              background-color: var(--ghi-map-donut-full);
            }
            &.legend-icon-slice-1 {
              background-color: transparent;
              background-image: linear-gradient(90deg, transparent 50%, var(--ghi-map-donut-slice-1) 50%), linear-gradient(270deg, var(--ghi-map-donut-slice-1) 50%, transparent 50%);
            }
            &.legend-icon-slice-2 {
              position: relative;
              top: 0.25rem;
              background-color: var(--ghi-map-donut-slice-2);
              background-image: linear-gradient(180deg, transparent 50%, white 50%), linear-gradient(90deg, white 50%, transparent 50%);
            }
            &.legend-icon-slice-3 {
              background-color: var(--ghi-map-donut-slice-3);
            }
          }
        }

      }

      .map-legend--inner.polygon {
        padding: 0.7rem 0.9rem;

        & > .label {
          margin-bottom: 0.5rem;
          font-weight: bold;
        }

        ul {
          display: flex;
          flex-direction: column;
          margin-block-start: 0;
          margin-block-end: 0;
          list-style-type: none;

          li {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            white-space: nowrap;

            &:last-child {
              margin-right: 0;
            }

            .legend-marker {
              display: inline-block;
              width: 1rem;
              height: 1rem;
              border: 1px solid var(--hpc-border-color);
            }
          }
        }
      }
    }
  }

  .map-container {
    position: relative;
    width: 100%;
    min-height: 460px;
    margin: 0;
    padding: 0;
    border: 1px solid var(--hpc-border-color);
    border-bottom: 0;

    .download-link-wrapper {
      float: right;
      margin-left: 1rem;

      @include max-width(sm) {
        margin-left: 0.5rem;
      }
    }
  }

  .map-circle-tooltip,
  .measurement-bar-chart-tooltip {
    padding: 5px 10px;
    color: var(--cd-white);
    border-radius: 5px;
    background-color: var(--cd-black);
    font-size: 12px;
    line-height: 1.2rem;

    div {
      display: flex;
      justify-content: space-between;
    }
  }

  .map-disclaimer {
    width: 100%;
    padding: .2rem;
    text-align: center;
    border: 1px solid var(--hpc-border-color);
    border-top: 0;
    background: rgba(251, 251, 251, .9);
    font-size: 11px;
  }
}
