/**
 * GHI Section - teaser
 *
 * Section details and teasers are so dramatically different that it seemed
 * sensible at the beginning of the project to split them and maintain two CSS
 * libraries for each one. If that becomes problematic in the future, feel free
 * to combine them.
 */
.ghi-section-teaser__image {
  width: 100%;
  height: 71%;
}
.ghi-section-teaser__image * {
  height: 100%;
}
.ghi-section-teaser__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ghi-section-teaser__image.empty-image {
  /*
   * 2021-05-28: the section image comes from the API and we didn't yet have a
   * mechanism for pulling the image within Drupal. Using a background-color
   * with arbitrary dimensions as fallback for now.
   */
  background-color: #999;
}

.ghi-section-teaser__title {
  padding-bottom: 1rem;
  font-size: 1rem;
}
