{{ attach_library('common_design/cd-dropdown') }}
<div class="section-switcher-wrapper">
  <div data-cd-component="cd-dropdown" data-cd-icon="arrow-down" id="cd-dropdown" class="cd-dropdown" aria-labelledby="dropdown-title" data-cd-toggable="{{ title }}">
    {{ item_list }}
  </div>
</div>