{{ attach_library('common_design/cd-dropdown') }}
<div class="section-switcher-wrapper">
  {% if not item_list %}
    <div class="section-switcher-single">
      <span class="title">{{ title }}</span>
    </div>
  {% else %}
    <div data-cd-component="cd-dropdown" data-cd-icon="arrow-down" id="cd-dropdown" class="cd-dropdown" aria-labelledby="dropdown-title" data-cd-toggable="{{ title }}">
      {{ item_list }}
    </div>
  {% endif  %}
</div>