//——————————————————————————————————————————————————————————————————————————————
// Typography
//——————————————————————————————————————————————————————————————————————————————

a {
  color: var(--cd-default-text-color);

  &:hover,
  &:focus {
    color: var(--cd-default-text-color);
  }
}

input::placeholder {
  font-size: 80%;
  font-style: italic;
}
