//——————————————————————————————————————————————————————————————————————————————
// Base styles
//——————————————————————————————————————————————————————————————————————————————
// body {
//   @include font-size($cd-font-size-base);

//   color: $cd-dark-grey;
//   font-family: $cd-font--system;
//   -ms-text-size-adjust: 100%;
//   -webkit-text-size-adjust: 100%;
//   -moz-osx-font-smoothing: grayscale;
//   -webkit-font-smoothing: antialiased;
//   line-height: 1.5;
// }

.layout--twocol-section {
  .layout__region--first {
    padding-right: 1rem;
  }

  &.has-second-region:not(.has-both-regions) {
    .layout__region--second {
      margin-left: 25%;
    }
  }
}

.material-icons {
  display: inline-block;
  white-space: nowrap;
  letter-spacing: normal;
  text-transform: none;
  word-wrap: normal;
  direction: ltr;
  font-family: "Material Icons", sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

#main-content {
  position: relative;

  .block-local-tasks-block {
    position: absolute;
    z-index: 1;
    top: 0;
    right: -9rem;
    padding: inherit;
    padding-bottom: 1rem;
    text-align: left;

    &:before {
      @extend .material-icons;

      content: "settings";
    }

    ul.tabs {
      visibility: hidden;
      width: 8rem;
      height: 0;
      margin: 0;
      margin-block-start: 0;
      margin-block-end: 0;
      transition: visibility 0s, height 0s, opacity 1s ease;
      opacity: 0;
      border-bottom: 0;

      li {
        float: none;
        min-width: 7rem;
        margin: 0;
        padding: 0.5rem 0;
        background-color: $cd-white;

        a {
          display: inline-block;
          min-width: auto;
          padding: 0 0.25rem;
          text-align: right;
          color: black;
          border-bottom: 0 !important;
          background-color: $cd-white;
          font-size: 14px;
          font-weight: normal;

          &.is-active,
          &:hover {
            border-bottom: 1px solid gray !important;
            background-color: $cd-white;
          }
        }
      }
    }

    &:hover ul.tabs {
      visibility: visible;
      height: 100%;
      opacity: 1;
    }
  }
}
