//——————————————————————————————————————————————————————————————————————————————
// Base styles
//——————————————————————————————————————————————————————————————————————————————

// Disable GINs new meta region in the frontend.
.region-meta--frontend {
  z-index: 100;
  display: none;
}

.layout--twocol-section {
  .layout__region--first {
    padding-right: 1rem;
  }

  &.has-second-region:not(.has-both-regions) {
    .layout__region--second {
      margin-left: 25%;
    }
  }
}

.material-icons {
  display: inline-block;
  white-space: nowrap;
  letter-spacing: normal;
  text-transform: none;
  word-wrap: normal;
  direction: ltr;
  font-family: "Material Icons", sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

#main-content {
  position: relative;

  .cd-page-title {
    margin: 1rem 0;
    padding: 0;
    border-bottom: 0;
  }
}

/* ------------------------------------------------------------------------------
 * Editorial indication for unpublished/untranslated entities.
 *---------------------------------------------------------------------------- */
.node--unpublished {
  background-color: unset;
}
.user-logged-in main[class*="--unpublished"] {
  outline: 4px dashed  #ffc310;
}
