.ghi-image-wrapper {
  position: relative;

  div.image-caption-wrapper,
  div.image-credit-wrapper {
    position: absolute;
    right: 0;
    bottom: 1rem;
    left: 0;
    height: 1rem;
    text-align: right;
    opacity: 0.9;
  }

  div.image-caption-wrapper {
    div.image-caption {
      position: absolute;
      right: 1.9rem;
      bottom: 1rem;
      display: inline-block;
      max-width: 400px;
      padding: 1rem 2rem;
      text-align: left;
      color: var(--ghi-default-text-color);
      background-color: var(--cd-white);
      font-size: var(--cd-font-size--tiny);

      .location {
        margin: 0 0 0.5rem 0;
        font-size: var(--cd-font-size--tiny);
        font-weight: 700;
      }

      p {
        margin: 0;

        .credits {
          font-style: italic;
        }
      }
    }

    @include max-width("md") {
      a.expand-caption {
        position: absolute;
        right: calc(1.9rem + 2px);
        bottom: calc(1rem + 2px);
        display: inline-block;
        width: 1rem;
        height: 1rem;
        padding: 0 !important;
        background-color: var(--cd-white);
        font-size: var(--cd-font-size--small);
        line-height: 1rem;

        &:focus,
        &:hover {
          background-color: var(--cd-primary-color);

          & + .image-caption {
            display: inline-block;
          }
        }

        &::after {
          display: block;
          content: "i";
          text-align: center;
          font-weight: 700;
        }
      }
      div.image-caption {
        display: none;
      }
    }
  }

  div.image-credit-wrapper {
    a.expand-caption {
      display: none;
    }
    div.image-credit {
      position: absolute;
      right: 1.9rem;
      bottom: 1rem;
      display: inline-block;
      padding: 0.1rem 0.5rem;
      color: var(--cd-white);
      background-color: var(--cd-black);
      font-size: var(--cd-font-size--tiny);
    }
  }
}
