.block-document-meta-data,
.block-section-meta-data,
article.node--type-article .node__meta .node__submitted,
article.node--type-document .node__meta .node__submitted,
.megamenu .megamenu-header {
  $padding: 0.5rem;

  & > ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -$padding;
    padding: 0;
    list-style: none;
    clip-path: inset(-3rem -3rem 0 $padding);

    & > li {
      position: relative;
      flex-basis: auto;
      flex-grow: 0;
      padding: 0 $padding;
      border: 0;

      &:first-child {
        padding-left: $padding;
      }

      &::before {
        position: absolute;
        left: 0;
        width: 1px;
        height: 90%;
        content: " ";
        background-color: var(--ghi-yellow);
      }

      .icon-wrapper {
        .icon {
          background-repeat: no-repeat;
          padding-right: 1.2rem;
          filter: var(--ghi-filter-grey--dark);

          &.plan-subtitle {
            background-image: url("../img/icons/document.svg");
          }
          &.plan-coordinator {
            padding-right: 1.4rem;
            background-image: url("../img/icons/coordination.svg");
          }
        }
      }
    }
  }
}
