.plan-status {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;

  &.unpublished {
    background-color: var(--ghi-status-color-unpublished);
  }

  &.published {
    background-color: var(--ghi-status-color-published);
  }
}
