.plan-entity-contribution-wrapper {
  display: flex;
  align-items: center;
  font-size: var(--cd-font-size--small);

  & > span {
    font-weight: 700;
  }

  ul {
    display: inline-flex;
    padding-inline-start: 0.5rem;
    list-style-type: none;
    gap: 0.5rem;

    li {
      display: flex;
      gap: 3px;

      span.check-circle {
        color: var(--green);
      }
    }
  }
}
