<!-- -webkit-print-color-adjust: exact has been added in relation to this issue: https://github.com/GoogleChrome/puppeteer/issues/2182 -->
<style>* {box-sizing: border-box; -webkit-print-color-adjust: exact; font-family: "Roboto", helvetica, arial, sans-serif;}</style>
<div style="width: 100%; color: #4d4d4d; padding: 0px 20px; font-size: 12px;">
  <p style="width: 80%; float: left; padding-left: 10px;"><span class="url" /></p>
  <p style="width: 20%; float: right; text-align: right; padding-right: 10px;">Downloaded on {{ date }}</p>
  <br style="clear: both;">
</div>