.block-article-title {
  background-color: var(--ghi-default-background-color);

  .article-title-wrapper {
    margin: 0 auto;
    padding-top: 3.6rem;
    padding-bottom: 3.6rem;

    &.has-title-prefix {
      padding-top: 2.6rem;
      padding-bottom: 3.3rem;
    }

    & > * {
      margin: 0;
    }

    p {
      font-size: var(--cd-font-size--small);

      a {
        text-decoration: none;
      }

      .chapter {
        font-weight: lighter;
      }
    }
  }
}
