//——————————————————————————————————————————————————————————————————————————————
// GHI: Blocks common definitions
//——————————————————————————————————————————————————————————————————————————————

.block-subpage-navigation {
  ul.links--entity-navigation {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 2rem;

    li {
      list-style-type: none;

      a {
        text-decoration: none;
        color: var(--hpc-dark-brown);

        &.active {
          // This is for links.
          font-weight: bold;
        }
      }

      &.expandable {
        position: relative;

        &.active > button[data-cd-toggler] {
          // This is for the expandable buttons.
          font-weight: bold;
        }

        > button[data-cd-toggler] {
          padding: 0;
          border: 0;
          background-color: transparent;

          svg.cd-dropdown__icon {
            fill: var(--hpc-dark-brown);
          }
        }

        > div[data-cd-hidden=false] {
          position: absolute;
          z-index: 1;
          left: -0.5rem;
          display: flex;
          flex-direction: column;
          padding: 0.5rem;
          background-color: var(--cd-white);

          a {
            white-space: nowrap;
          }
        }
      }
    }
  }
}

.block-subpage-title {
  h2 {
    margin: 3rem 0;
  }
}

.ghi-block,
.ghi-block.ui-state-drop {
  margin-top: 4.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  // Explicitly set the same default line height as for the full document to
  // prevent errors with previews inside the block configuration modal
  // (ui-dialog sets a line-height of 1).
  line-height: 1.5;

  #main-content.has-subpage-title .layout__region &:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  &.ghi-block--hidden-preview > *:not(.contextual) {
    opacity: 0.5;
  }

  & > div.block-content {
    position: relative;
    // This also needs to overwrite any additional margins defined in the
    // common design components.
    margin: 0 !important;
  }

  & > div.block-links {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 1rem 0;
    border-top: 1px solid var(--cd-default-border-color);
    border-bottom: 1px solid var(--cd-default-border-color);

    a {
      text-decoration: none;
      line-height: 1rem;
    }

    .block-download-links .download-item {

      a.link--download-dialog {
        position: relative;
        padding-left: 1.5rem;

        &:before {
          position: absolute;
          top: calc(50% - 10px);
          left: 0;
          padding: 10px;
          content: "";
          background: url("https://fonts.gstatic.com/s/i/short-term/release/materialsymbolsoutlined/download/default/20px.svg") no-repeat;
        }
      }

      a:hover,
      a:focus {
        color: var(--cd-default-text-color);
      }
    }

    .block-admin-links {
      display: flex;
      align-items: baseline;
      gap: 0.5rem;

      a {
        position: relative;
        top: 2px;
        font-size: 1.3rem;
      }

      button[data-toggle="popover"] {
        position: relative;
        top: -1px;
        padding: 0;
        transition: none;
        color: inherit;
        border: 0;
        background-color: inherit;

        &:hover,
        &:focus {
          color: var(--cd-primary-color--dark);
          border: 0;
          outline: 0;
        }
      }
    }
  }
}
