.ghi-block-generic-document-links .block-content {

  ul {
    padding-inline-start: 0;

    li {
      display: flex;
      margin: 0 0 1rem 0;
      list-style-type: none;
      vertical-align: top;

      .document-link-box {
        position: relative;
        width: 100%;
        padding: 2rem;
        background-color: var(--cd-primary-background-color);

        .title-wrapper {

          .title {
            display: inline-block;
            width: 100%;
            margin: 0;
            padding: 0;
            font-size: var(--cd-font-size--medium);
            font-weight: bold;
          }
        }

        .buttons {
          position: relative;
          z-index: 1;
          width: 100%;
          margin-bottom: 2rem;

          button {
            padding: 0;
            color: var(--cd-default-text-color);
            border: 0;
            background-color: transparent;
            font-size: var(--cd-font-size--default);

            svg {
              fill: var(--cd-default-text-color);
            }
          }

          .cd-dropdown {
            position: absolute;
            // width: 100%;

            div {
              display: inline-block;
              width: auto;
              padding: 0.2rem;
              border: 1px solid var(--cd-default-border-color);
              border-radius: 3px;
              background-color: var(--cd-white);

              a {
                display: block;
                padding: 0.1rem;
                text-decoration: none;
                font-size: var(--cd-font-size--tiny);
              }
            }
          }
        }
        .meta {
          margin-top: 1rem;
          font-size: var(--cd-font-size--tiny);

          &:before {
            display: block;
            width: 15%;
            padding-top: 1.5rem;
            content: " ";
            border-top: 4px solid var(--cd-ocha-yellow);
          }
        }
      }

      @media (min-width: 576px) {
        flex: 0 1 50%;
        padding: 0 0.25rem;
        &:first-child {
          padding: 0 0.5rem 0 0;
        }
        &:last-child {
          padding: 0 0 0 0.5rem;
        }
      }

      @include tablet {
        // When there is 1 item.
        &:only-child {
          flex: 0 1 50%;
          padding: 0;
        }

        // When there are 2 items.
        &:nth-last-child(n+2),
        &:nth-last-child(n+2) ~ li {
          flex: 0 1 50%;
          padding: 0 0.25rem;
          &:first-child {
            padding: 0 0.5rem 0 0;
          }
          &:last-child {
            padding: 0 0 0 0.5rem;
          }
        }

        // When there are 3 items.
        &:nth-last-child(n+3),
        &:nth-last-child(n+3) ~ li {
          flex: 0 1 50%;
          padding: 0 0.25rem;
          &:first-child {
            padding: 0 0.5rem 0 0;
          }
          &:last-child {
            padding: 0 0 0 0.5rem;
          }
        }
      }
    }

    @media (min-width: 576px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
}
