.block-generic-document-link-button {
  button {
    padding: 0.8rem 1.5rem 0.8rem 2.5rem;

    &::before {
      left: 1rem;
      padding: 10px;
      content: "";
      /* The icon is actually black, but we want to show it as grey #4d4d4d. Using
        https://codepen.io/sosuke/pen/Pjoqqp to create a filter that makes the
        icon appear in that color. */
      filter: invert(22%) sepia(21%) saturate(0%) hue-rotate(165deg) brightness(112%) contrast(83%);
      background-image: url("https://fonts.gstatic.com/s/i/short-term/release/materialsymbolsoutlined/download/default/20px.svg");
      background-repeat: no-repeat;
    }
  }
}
