.ghi-block-plan-entity-types {

  .cd-grid > div {
    padding: 1rem;
  }

  .entity-type-title {
    float: left;
    margin: 0 0.5rem;
    padding: 0;
    font-size: 3.7rem;
    font-weight: normal;
    line-height: 3.4rem;
  }
}
