.ghi-block-generic-external-widget {
  &.up-2 .block-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .iframe-wrapper {
      width: 100% !important;
    }

    @include tablet() {
      display: flex;
      justify-content: space-between;
      .iframe-wrapper {
        width: 49% !important;
      }
    }
  }
}
