.ghi-block-plan-governing-entities-table {
  .cluster-icon {
    float: left;
    width: 2rem;
    height: 1rem;

    svg {
      position: relative;
      top: 10%;
      left: 0;
      width: 1.2rem;
      height: 1.2rem;
    }
  }

  tbody td {
    &[data-sort-type="numeric"] {
      text-align: right;
    }
  }
}
