.ghi-block-global-key-figures,
.ghi-block-plan-headline-figures {

  &.has-year-switcher .cd-block-title {
    display: flex;
    gap: 1rem;

    .section-switcher-wrapper {
      top: -0.35rem;
    }
  }

  // These rules are here to position the key figures the same way independent
  // of whether they have a visible tab container or not.
  .tab-container-wrapper {
    margin-top: -2rem;
    padding-top: 1rem;
  }
  .tab-navigation-wrapper {
    margin-top: 1rem;
  }

  .tab-details {
    .key-figures {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 0;
      margin-left: -1.5rem;
      padding-top: 1rem;
      padding-bottom: 0;
      padding-left: 0;
      list-style: none;
      clip-path: inset(0 0 0 1.5rem);

      li {
        position: relative;
        flex-basis: auto;
        flex-grow: 0;
        margin-bottom: 1rem;
        padding: 0 1.5rem;
        border: 0;

        &:first-child {
          padding-left: 1.5rem;
        }

        &.line-break:not(:first-child) {
          width: 100%;
          margin-bottom: 0;
          padding: 0;
        }

        &:not(.line-break)::before {
          position: absolute;
          left: 0;
          width: 1px;
          height: 90%;
          content: " ";
          background-color: var(--ghi-default-border-color);
        }

        .cd-figure-list__label {
          font-weight: normal;
        }

        .cd-figure-list__value {
          color: var(--ghi-default-text-color);

          & > div {
            display: flex;
            gap: 0.5rem;

            a {
              text-decoration: none;
            }
          }

          i[data-toggle="tooltip"] {
            vertical-align: top;
          }

          .material-icon {
            font-size: var(--cd-font-size--large);
            font-weight: normal;
          }

          .custom-link--rft > img {
            height: 1rem;
          }
        }
      }
    }

    & > a.external {
      margin-top: 1rem;
    }
  }

  .block-comment .block-comment-inner {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid var(--cd-default-border-color);
  }
}
