.ghi-block-global-key-figures,
.ghi-block-plan-headline-figures {

  // These rules are here to position the key figures the same way independent
  // of whether they have a visible tab container or not.
  .tab-container-wrapper {
    margin-top: -2rem;
    padding-top: 1rem;
  }
  .tab-navigation-wrapper {
    margin-top: 1rem;
  }

  .tab-details {
    .key-figures {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 0;
      margin-left: -1.5rem;
      padding-top: 1rem;
      padding-bottom: 0;
      padding-left: 0;
      list-style: none;
      clip-path: inset(0 0 0 1.5rem);

      li {
        position: relative;
        flex-basis: auto;
        flex-grow: 0;
        margin-bottom: 1rem;
        padding: 0 1.5rem;
        border: 0;

        &:first-child {
          padding-left: 1.5rem;
        }

        &.line-break:not(:first-child) {
          width: 100%;
          margin-bottom: 0;
          padding: 0;
        }

        &:not(.line-break)::before {
          position: absolute;
          left: 0;
          width: 1px;
          height: 90%;
          content: " ";
          background-color: var(--ghi-default-border-color);
        }

        .cd-figure-list__label {
          font-weight: normal;
        }

        .cd-figure-list__value {
          color: var(--ghi-default-text-color);

          & > div {
            display: flex;
            gap: 0.5rem;
          }

          .tooltip-wrapper {
            gap: 0.5rem;

            i[data-toggle="tooltip"] {
              display: flex;
              align-items: center;
              align-self: center;
              max-height: 2.25rem;
              vertical-align: top;
              line-height: initial;
            }

            i[data-toggle="tooltip"] > * {
              font-size: 1.65rem;
            }

            button.popover {
              padding: 0;
            }

            a {
              display: flex;
              align-items: center;

              &.fts-link {
                min-height: 2.25rem;
              }
            }

            .material-icon {
              font-size: inherit;
              font-weight: normal;
            }
          }

          .custom-link--rft > img {
            height: 1rem;
          }
        }
      }
    }

    & > a.cd-button {
      margin-top: 1rem;
    }
  }

  .block-comment .block-comment-inner {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid var(--cd-default-border-color);
  }
}
