.ghi-block-paragraph {
  position: relative;

  .cd-block-title {
    margin-top: 4.5rem;
  }

  .block-content {

    & > div > a.read-more {
      margin-top: 2rem;
    }

    &.gho-paragraph-promoted {
      background-color: transparent;
    }
  }

  &.gho-paragraph-promoted {
    background-color: var(--cd-primary-background-color);

    .block-content {
      padding-top: 0;
      padding-bottom: 3rem;
    }

    &::before {
      position: absolute;
      left: 0;
      height: 100%;
      content: "";
      border-left: 4px solid var(--cd-primary-color);

      #layout-builder & {
        height: calc(100% - 2rem);
      }
    }
  }
}
