.ghi-block-home-plan-table {
  table {
    tbody {
      td[data-column="name"] {
        .tooltip.plan-type-icon[data-toggle] {
          position: relative;
          top: 0.5rem;
          right: 1rem;
          float: right;
          width: auto !important;
          min-width: 4rem;
          height: auto !important;
          text-align: center;
          color: $cd-white;
          // The default background color for plan type other and unknown
          background-color: rgb(135, 207, 173);
          font-size: var(--cd-font-size--small);
          font-weight: normal;

          &.plan-type-hrp {
            background-color: rgb(80, 144, 205);
          }
          &.plan-type-fa {
            background-color: rgb(136, 105, 174);
          }
          &.plan-type-rrp {
            background-color: rgb(230, 103, 81);
          }
          &.plan-type-non-hrp {
            padding: 0 5px;
            background-color: rgb(119, 119, 119);
          }
        }

        .plan-status {
          color: var(--cd-orange);
          font-size: var(--cd-font-size--tiny);
        }
      }
    }
  }
}

.ghi-block-global-plan-overview-map + .ghi-block-home-plan-table {

  /**
   * Bleed the background only.
   */
  position: relative;
  z-index: 1;
  margin-top: -1rem;
  padding-bottom: 0;
  background-color: var(--cd-default-background-color);

  &:before {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    content: "";
    background-color: inherit;

    @include tablet {
      right: calc(-4rem - 2px);
      left: calc(-4rem - 2px);
      border: 1px solid var(--cd-default-border-color);
      border-top: 0;

      #layout-builder & {
        right: 0;
        left: 0;
      }
    }
  }

  .block-links {
    /**
    * Bleed the background only.
    */
    position: relative;
    z-index: 1;
    border-top: 0;
    border-bottom: 0;
    background-color: var(--cd-white);

    #layout-builder & {
      background-color: inherit;
    }

    &:before {
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      content: "";
      border-top: 1px solid var(--cd-default-border-color);
      border-bottom: 1px solid var(--cd-default-border-color);
      background-color: inherit;

      @include tablet {
        right: calc(-7rem - 2px);
        left: calc(-7rem - 2px);

        #layout-builder & {
          right: 0;
          left: 0;
        }
      }
    }
  }
}
