.ghi-block-plan-cluster-header {
  .block-content {
    display: flex;
    justify-content: space-between;

    .cluster-header-contacts {
      margin-top: -3rem;
      margin-bottom: 2rem;
      margin-left: auto;
      padding: 1rem 3rem;

      h3 {
        margin-top: 0;
        font-size: var(--cd-font-size--medium);
      }

      .cluster-header-contacts-item {
        font-size: var(--cd-font-size--default);
      }
    }
  }
}
