.block-plan-operational-presence-map {

  &:not(.has-comment) {
    div.block-links {
      border-top: 0;
    }
  }

  .plan-operational-presence-map-wrapper {
    .map-container {

      .map-legend {
        font-size: var(--cd-font-size--small);

        ul {
          display: flex;
          margin-block-start: 0;
          margin-block-end: 0;
          padding: 5px;
          list-style-type: none;
          border: 1px solid var(--hpc-border-color);
          border-radius: 3px;
          background-color: white;

          li {
            margin-right: 0.5rem;
            white-space: nowrap;

            &:last-child {
              margin-right: 0;
            }

            .legend-marker {
              display: inline-block;
              width: 10px;
              height: 10px;
              margin-right: 5px;
              border: 1px solid var(--hpc-border-color);
              border-radius: 50%;
            }
          }
        }
      }
    }
  }

  .modal,
  .map-sidebar {
    .modal-inner {
      overflow-y: auto;
      max-height: 350px;
    }

    .modal-inner,
    .map-plan-card-container {
      .title-heading {
        text-transform: uppercase;
        color: var(--ghi-default-text-color);
        font-size: var(--cd-font-size--tiny);
      }

      .title {
        color: var(--ghi-default-text-color);
        font-size: var(--cd-font-size--medium);
        font-weight: 500;
      }

      .content {
        border-top: none !important;

        .title {
          text-transform: uppercase;
          font-size: var(--cd-font-size--small);
          font-weight: bold;
        }
        .cluster-wrapper {
          position: relative;
          margin-bottom: 0.5rem;
          font-size: var(--cd-font-size--small);

          .cluster-icon-wrapper {
            position: relative;
            top: 3px;
            display: inline-block;
            width: 26px;
            height: 26px;
            margin-right: 0.5rem;
            border: 1px solid black;
            border-radius: 50%;

            .cluster-icon {
              display: inline-block;
              width: 26px;
              height: 26px;

              svg {
                top: 5%;
                left: 20%;
                width: 13px;
                height: 13px;
              }
            }
          }

          span.toggle {
            position: absolute;
            top: 0;
            right: 0;
            display: inline-block;
          }

          .organizations-wrapper,
          .projects-wrapper {
            display: none;
            padding-top: 1rem;
            padding-left: 2.2rem;

            .title {
              text-transform: uppercase;
              font-size: var(--cd-font-size--tiny);
              font-weight: bold;
            }

            ul {
              padding-inline-start: 1rem;
              font-size: var(--cd-font-size--tiny);
            }
          }
        }

        a.fts-link {
          display: inline-block;
          margin-bottom: 0.5rem;

          img {
            position: relative;
            top: 0.5rem;
            left: 0.2rem;
            height: 20px;
          }
        }
      }
    }
  }
}

.configuration-container {
  .pane-plan-operational-presence-map {
    position: relative;

    .map-wrapper-outer {
      &.has-view-switcher,
      &.has-object-switcher {
        margin-top: 5rem;
      }
    }
  }
}
