.block-wrapper--sectionswitcher {

  .section-switcher-wrapper {
    position: relative;
    z-index: 1;

    button {
      padding: 0.8rem 1.5rem;
      text-transform: uppercase;
      color: var(--cd-default-text-color);
      border: 0;
      background-color: var(--ghi-yellow);
      font-size: var(--cd-font-size--small);
      font-weight: bold;

      svg {
        fill: var(--cd-default-text-color);
      }
    }

    .cd-dropdown {
      position: absolute;
      right: 0;
      background-color: var(--cd-default-background-color);

      ul {
        margin: 0;
        padding: 0;

        li {
          padding: 0.8rem 1.5rem;
          list-style-type: none;
          white-space: nowrap;
          font-size: var(--cd-font-size--default);
          font-weight: bold;

          a,
          a:hover,
          a:focus {
            text-decoration: none;
            color: var(--hpc-dark-brown);
            font-weight: normal;
          }
        }
      }
    }
  }
}
