.subpage-title-block {
  background-color: var(--ghi-default-background-color);

  .subpage-title-wrapper {
    margin: 0 auto;
    padding-top: 3.6rem;
    padding-bottom: 3.6rem;

    &.has-title-prefix {
      padding-top: 2.6rem;
      padding-bottom: 3.3rem;
    }

    & > * {
      margin: 0;
    }

    p {
      font-size: var(--cd-font-size--small);

      a {
        text-decoration: none;
      }

      .chapter {
        font-weight: lighter;
      }
    }

    &.has-icon,
    a.has-icon {
      display: flex;
      gap: 1rem;
      align-items: baseline;

      .icon {
        height: var(--cd-font-size--2xbase);

        svg {
          position: static;
          height: 100%;
        }
      }
    }
    a.has-icon {
      gap: 0.5rem;

      .icon {
        height: var(--cd-font-size--small);
      }
    }
  }
}
