.ghi-subpages-admin-views-form .subpages-form-header-wrapper {
  display: flex;
  gap: 1rem;
  align-items: baseline;
  margin-top: 2rem;
}

.ghi-subpages-admin-views-form .subpages-form-header-wrapper > a {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.ghi-subpages-admin-views-form table tr.title-mismatch {
  border-left: 6px solid #fed83d;
}
.ghi-subpages-admin-views-form table tr.missing-base-object {
  border-left: 6px solid #d92828;
}
.ghi-subpages-admin-views-form table tr.title-mismatch td:first-child .form-type--checkbox,
.ghi-subpages-admin-views-form table tr.missing-base-object td:first-child .form-type--checkbox {
  margin-left: -3px;
}

.ghi-subpages-admin-views-form table tr.dependent-subpage-row input[disabled='disabled'] {
  display: none;
}