*[data-toggle="popover"] {
  cursor: pointer;
}
.cd-button.popover {
  background-color: transparent;
  color: inherit;
  padding: 0.1rem;
}
.tippy-box[role="popover"] {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.tippy-box[role="popover"] .tippy-content {
  max-height: 50vh;
  overflow: auto;
  color: black;
  padding: 0;
  color: var(--cd-grey--dark);
}
.tippy-box[role="popover"] .tippy-content > .title {
  text-align: left;
  padding: 1rem;
  font-weight: bold;
}
.tippy-box[role="popover"] .tippy-content > .title svg path {
  fill: var(--cd-grey--dark);
}
.tippy-box[role="popover"] .tippy-content > .content {
  font-weight: normal;
  text-align: left;
  padding: 1rem;
}
