.region-page-title {

  .block-wrapper:not(.block-wrapper--hero-image) {
    border-bottom: 1px solid var(--cd-default-border-color);

    .block-wrapper__inner {
      max-width: calc(var(--content-width) + 24px);
      margin-right: auto;
      margin-left: auto;
      padding-right: var(--cd-container-padding);
      padding-left: var(--cd-container-padding);

      .cd-page-title {
        margin: 1rem 0;
        padding: 0;
      }

      @media (min-width: 768px) {
        max-width: calc(var(--content-width) + 48px);
        padding-right: var(--cd-container-padding-xlarge);
        padding-left: var(--cd-container-padding-xlarge);
      }
    }

    &.block-wrapper--subpagenavigation .block-wrapper__inner {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  .block-wrapper--hero-image .field--type-ghi-hero-image {
    line-height: 0;
  }
}
