// HPC colors
:root {
  // GHI colors.

  // Primary colors.
  --ghi-yellow: #fed83d;
  --ghi-grey--dark: #4d4d4d;
  --ghi-filter-grey--dark: invert(27%) sepia(0%) saturate(3%) hue-rotate(236deg)
    brightness(90%) contrast(77%);

  // Dropdown menu background Hero background?
  --ghi-yellow--light: #fffbec;

  // Chart percentage background.
  --ghi-yellow--light-chart: #f8ecb4;

  // Separator line with background.
  --ghi-grey: #dfdede;

  // Separator line.
  --ghi-grey--light: #eee;

  // Card/search button/map zoom tool/popup frame outlines.
  --ghi-grey--medium: #ccc;

  // Background.
  --ghi-grey--background: #f5f5f5;

  // Button hover.
  --ghi-orange-dark: #feba00;

  // Work-in-progress-colors, to be replaced with the official colors above.
  --cd-ocha-orange: #fecb00; // rgb(254, 203, 0)
  --cd-ocha-orange--dark: var(--ghi-orange-dark);
  --cd-primary-color: var(--ghi-yellow);
  --cd-primary-color--dark: var(--cd-ocha-orange--dark);
  --cd-tag--color: #9e9e9e;

  // GHI Semantic color definitions.
  --ghi-default-text-color: var(--ghi-grey--dark);
  --ghi-default-border-color: var(--ghi-grey--light);
  --ghi-default-border-color-background: var(--ghi-grey);
  --ghi-default-background-color: var(--ghi-grey--background);
  --ghi-primary-background-color: var(--ghi-yellow--light);
  --ghi-widget-color--light: var(--ghi-grey--light);
  --ghi-widget-color--dark: var(--ghi-orange-dark);
  --ghi-progress-color-fg: var(--ghi-yellow);
  --ghi-progress-color-bg: var(--ghi-yellow--light-chart);
  --ghi-status-color-unpublished: var(--cd-primary-color);
  --ghi-status-color-published: #abea3a;
  --ghi-primary-button-color: var(--ghi-yellow);
  --ghi-primary-button-color-hover: var(--ghi-orange-dark);

  // Plan type colors.
  --ghi-plan-type-hrp: var(--ghi-yellow);
  --ghi-plan-type-hnrp: var(--ghi-plan-type-hrp);
  --ghi-plan-type-srp: var(--ghi-plan-type-hrp);
  --ghi-plan-type-fa: #f7941e;
  --ghi-plan-type-reg: var(--ghi-grey--dark);
  --ghi-plan-type-other: #ccc;

  // Legacy Hum Insight colors.
  --hpc-brown: #464646;
  --hpc-dark-brown: #2f2f2f;
  --hpc-orange: #ee7325;
  --hpc-orange-light: var(--cd-orange--light);
  --hpc-grey: #ebebeb;
  --hpc-blue-light: #e6ecf1;
  --green: #62b445;
  --hpc-border-color: #e1e1e1;
  --cd-font-size--extra-tiny: 0.625rem; /* 10px */

  // Border styles for ui dialogs.
  --ghi-ui-dialog-border-radius: 1rem;

  // Duplicate some color definitions from the GIN admin theme.
  //
  // This is by far the easiest way right now to style the messages, which get
  // 'toastified' by gin_lb, but uses variables from the GIN theme that are not
  // available for non-logged-users.
  // From GIN theme for warnings.
  --colorGinWarningLight: #efcf64;
  --colorGinWarningBackground: #605328;
  // From GIN theme for errors.
  --colorGinDangerLight: #f39b9d;
  --colorGinDangerBackground: #583333;
  // From GIN theme for status messages.
  --colorGinGreenLight: #32cea4;
  --colorGinGreenBackground: #145242;
}

//——————————————————————————————————————————————————————————————————————————————
// Implementation colours (for the common design).
//——————————————————————————————————————————————————————————————————————————————

$implementation-primary: var(--ghi-yellow);
$implementation-primary-dark: $cd-primary;
$implementation-secondary: $cd-blue--bright;
$implementation-highlight: #fed83d;
