// In headline figures.
.fts-icon,
.cd-figure-list--large .fts-icon {
  height: 1rem;
}

// In tables.
tbody td {
  &[data-sort-type="numeric"] {
    text-align: right;
  }

  .fts-icon {
    height: 1rem;
    vertical-align: middle;
  }

  .cluster-icon {
    float: left;
    width: 2rem;
    height: 1rem;

    svg {
      position: relative;
      top: 10%;
      left: 0;
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}

// SVG sprite placed before end of body in html.tpl.php
svg.ghi-icons-sprite {
  display: none;
  overflow: hidden;
}

svg.icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;

  .toggle & {
    width: 0.5rem;
    height: 0.5rem;
    cursor: pointer;
    pointer-events: all;
    fill: var(--cd-default-text-color);
  }
  .toggle.open & {
    transform: rotate(180deg);
  }
}
