// In headline figures.
.cd-figure-list--large .fts-icon {
  height: 1rem;
}

// In tables.
tbody td {
  &[data-sort-type="numeric"] {
    text-align: right;
  }

  .fts-icon {
    height: 1rem;
    vertical-align: middle;
  }

  .cluster-icon {
    float: left;
    width: 2rem;
    height: 1rem;

    svg {
      position: relative;
      top: 10%;
      left: 0;
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}
