// HPC colors
:root {
  --hpc-brown: #464646;
  --hpc-dark-brown: #2f2f2f;
  --hpc-orange: #ee7325;
  --hpc-orange-light: var(--cd-orange--light);
  --hpc-grey: #ebebeb;
  --hpc-blue-light: #e6ecf1;
  --green: #62b445;
  --hpc-border-color: #e1e1e1;
  --cd-font-size--extra-tiny: 0.625rem;      /* 10px */
}
