.js input.form-autocomplete {
  background-color: #fff !important;
  background-image: url("data:image/svg+xml,%3csvg width='40' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8 1C3.46.827-.188 5.787 1.313 10.068c1.176 4.384 6.993 6.417 10.637 3.7.326-.39.565.276.846.442l3.74 3.739 1.413-1.414-4.35-4.35c2.811-3.468 1.15-9.247-3.062-10.71A7.003 7.003 0 008 1zm0 2c3.242-.123 5.849 3.42 4.777 6.477-.842 3.132-4.994 4.58-7.6 2.65-2.745-1.73-2.9-6.125-.285-8.044A5.006 5.006 0 018 3z' fill='%23868686'/%3e%3c/svg%3e") !important;
  background-repeat: no-repeat !important;
  background-position: 100% center !important;
}

.js .ui-autocomplete {
  overflow-y: scroll;
  max-height: 300px;
  background-color: var(--cd-white);
}

.js input.form-autocomplete.ui-autocomplete-loading {
  background-image: url("../img/misc/spinner-ltr.gif") !important;
}

.has-layout-builder-ipe-actions .gho-footnote-list__wrapper {
  // Position this above the Layout Builder IPE action bar.
  bottom: 64px !important;
}
body.toolbar-horizontal .gin-secondary-toolbar,
.layout-builder-ipe-actions {
  // Make this higher than the z-index of everything else.
  z-index: 1002 !important;
}

body.toolbar-horizontal #toolbar-administration {
  // But make the toolbar menu have an even higher z-index.
  z-index: 1003 !important;
}

body.layout-builder-ipe-editing .dialog-off-canvas-main-canvas {
  // Account for Layout Builder toolbar height.
  padding-top: 3rem;
}

.layout-builder--content-preview-disabled .layout-builder-block.content-width {
  // Make sure that content-width is also applied correctly when content
  // preview is disabled.
  margin-right: auto;
  margin-left: auto;
}

#layout-builder-modal .cd-alert {
  margin-top: 0;
  margin-right: 21px;
  margin-bottom: 1rem;
  margin-left: 30px;
  padding: 0.5rem;

  & > div {
    align-items: center;
  }
}
