.tooltip-wrapper {
  display: inline-flex;
  gap: 0.3rem;
  align-items: center;

  a {
    text-decoration: none;
  }
}

.tooltip {
  display: inherit;
  cursor: pointer;
  vertical-align: middle;

  .material-icon {
    line-height: initial;
  }

  .modal-link {
    display: inline-flex;
    align-items: center;
    line-height: 1.15;

    .modal-link-item > a {
      display: flex;
    }
  }

  & > a,
  .modal-link-item > a {
    border: 2px solid transparent;
    border-radius: 3px;

    &:focus,
    &:focus-visible {
      border: 2px solid var(--brand-primary--dark);
      outline: none;
      background-color: var(--ghi-primary-button-color-hover);
    }
  }

  svg {
    fill: var(--cd-primary-color);
  }
}

.tippy-box .tippy-content {

  & > .content {
    padding: 0 1rem;
  }

  a.fts-link {
    display: inline-block;
    margin-bottom: 0.5rem;

    img {
      height: 20px;
      vertical-align: middle;
    }
  }

  td.project-counter & {
    min-width: 20rem;
  }
}

.tippy-box[data-theme="measurement-comment"] {
  max-width: 20rem !important;
}

.d3-sparkline-tooltip {
  pointer-events: none;

  .tippy-box {
    top: -0.5rem;

    .tippy-content {
      margin-bottom: -1rem;

      .hpc-sparkline-tooltip {
        .title {
          text-align: left;
        }

        .items {
          margin-top: 0.5rem;

          .item-wrapper {
            display: flex;
            gap: 2rem;

            .label {
              width: 50%;
              text-align: left;
              white-space: nowrap;
              color: var(--cd-white);
              font-size: 100%;
              line-height: inherit;
            }
            .value {
              width: 50%;
              text-align: right;
            }
          }
        }
      }
    }

    .tippy-arrow::before {
      left: 45%;
    }
  }
}
