.tooltip {
  cursor: pointer;
  vertical-align: middle;

  svg {
    fill: var(--cd-primary-color);
  }
}

.tippy-box .tippy-content {

  & > .content {
    padding: 0 1rem;
  }

  a.fts-link {
    display: inline-block;
    margin-bottom: 0.5rem;

    img {
      height: 20px;
      vertical-align: middle;
    }
  }
}
