.cd-site-header__nav-holder {
  z-index: z-index(main-menu);

  .mega-menu {

    &.label-visible h2 {
      position: static !important;
      display: block;
      clip: auto;
      width: auto;
      height: auto;
      font-size: var(--cd-font-size--base);

      @include max-width(lg) {
        padding: 15px 30px;
      }
    }

    ul {
      padding-inline-start: 0;
      list-style-type: none;
    }

    nav ul > li > span:hover {
      background: initial;
    }

    @include max-width(lg) {
      ul li span,
      ul li a {
        padding-top: 0;
        padding-bottom: 0;
      }

      ul > li {
        & > span {
          padding-top: 0.5rem;
          font-weight: bold;
        }
        &:first-child > span {
          padding-top: 0;
        }
      }

      & > div {
        details {
          summary {
            padding: 1rem 30px;
            list-style-type: disclosure-open;
            font-size: var(--cd-font-size--default);
            font-weight: bold;

            .summary {
              display: none;
            }
          }

          &:first-child summary {
            padding-top: 0;
          }
        }
      }
    }

    @include min-width(lg) {
      &.content-width {
        padding-right: 2rem;
        padding-left: 2rem;
      }
    }

    @include min-width(xl) {
      &.content-width {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }

  nav.cd-nav {

    & > ul > li {

      & > span {
        font-weight: bold;

        &:focus,
        &:hover {
          color: inherit;
          background: inherit;
        }
      }

      & > ul > li {

        & > span {
          opacity: 0.5;
        }
      }
    }

    ul.menu li.menu-item .menu-link-contentmain nav[role="navigation"] {

      ul {
        padding: 0;
        list-style: none;

        li > span {
          font-weight: bold;
        }

        li > a {
          padding: 0 30px;
        }
      }

      @include max-width(lg) {
        margin: 0;
        padding: 0;
      }
    }

    @include max-width(lg) {
      margin: 0;
      padding: 0;
    }

    @include desktop {
      position: unset;

      ul.menu li.menu-item {

        &:not(:last-child).right-border {
          border-right: 1px solid var(--ghi-default-border-color);
        }

        .menu-link-contentmain {
          position: absolute;
          z-index: z-index(main-menu);
          left: 0;
          width: 100%;
          background-color: var(--cd-default-background-color);

          nav[role="navigation"] {
            margin-bottom: 2rem;
            padding: 1rem;
            background-color: var(--cd-white);

            & > ul {
              flex-direction: column;
              justify-content: flex-start;
              max-height: 450px;
              row-gap: 2rem;

              & > li {
                max-width: 90%;

                & > span {
                  padding: 0;
                }

                & > ul {
                  margin: 0.5rem 0 0;
                }
              }
            }
          }

          .mega-menu {
            max-width: calc(var(--content-width) - 6rem);

            &.label-visible h2 {
              margin-top: 2rem;
              margin-bottom: 2rem;
            }

            nav[role="navigation"] > ul li {

              a,
              span {
                display: inline-block;
                padding: 0;

                &:focus,
                &:hover {
                  color: inherit;
                  background: inherit;
                }
              }

              a:focus,
              a:hover {
                text-decoration: underline;
                color: var(--cd-primary-color);
              }
            }

            .vertical-tabs {
              display: flex;
              margin-bottom: 2rem;
              border: 0;
              background: transparent;

              ul.vertical-tabs__menu {
                width: fit-content;
                border: 0;

                .vertical-tabs__menu-item {
                  white-space: nowrap;
                  border: 0;

                  &.is-selected {
                    background: var(--cd-white);
                  }

                  a {
                    padding: 1rem;
                  }

                  a::before {
                    display: none;
                  }
                }
              }
            }

            .vertical-tabs__panes {
              flex-grow: 1;

              details {
                column-count: 3;
                column-rule: 1px solid var(--ghi-default-border-color-background);
                background: var(--cd-white);

                ul {

                  li {
                    font-weight: normal;

                    a,
                    span {
                      padding-top: 0;
                      padding-bottom: 0;

                      &::before {
                        display: none;
                      }

                      &:focus,
                      &:hover {
                        color: inherit;
                        background: inherit;
                      }
                    }

                    span {
                      padding-bottom: 0.5rem;
                    }

                    a:focus,
                    a:hover {
                      text-decoration: underline;
                      color: var(--cd-primary-color);
                    }
                  }
                }

                & > ul > li {
                  font-weight: bold;

                  ul li:last-child {
                    padding-bottom: 1rem;
                  }
                }
              }
            }
          }
        }
      }

      li.menu-item.menu-item--expanded {
        position: relative;
      }
    }
  }
}
