.ui-widget-content .layout-builder-configure-block div[data-block-preview] {
  a {
    color: var(--ghi-default-text-color);
  }

  button.ghi-download__btn {
    font-family: inherit;
    font-size: var(--cd-font-size--small);
  }

  &[data-block-preview="plan_webcontent_file"] {
    padding: 0;
  }
}
