// Hide Header for Snap PNG for all users.
.snap-png-header {
  display: none;
}

// CSS for Snap Service PNG creation.
html.snap--pdf {

  // Common elements to hide.
  #toolbar-administration,
  .cd-global-header,
  .cd-site-header__actions,
  .ghi-social-links,
  .layout-builder-ipe-actions,
  .block-wrapper--downloadbutton,
  .block-links {
    display: none;
  }

  // Expandable tables.
  .table-wrapper table.soft-limit + a.expand-table {
    display: none !important;
  }
  .table-wrapper table.soft-limit tr {
    display: table-row !important;
  }

  .table-wrapper .modal-link {
    display: none !important;
  }

  .dialog-off-canvas-main-canvas {
    // Set sizes to A2, which is what is used to print the PDF in order to fit
    // the content the same way as on a normal sized desktop screen.
    // @see \Drupal\hpc_downloads\DownloadMethods\PDF::prepareOptions()
    display: block;
    width: 1587px;
    height: 2248px;
    margin: 0;
    background: white;
    box-shadow: none;

    & > .cd-layout-container {
      grid-template-rows: 80px auto 1fr auto;
    }
  }
}
