<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="../../../../vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="../../../../vendor/autoload.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true"
         failOnWarning="true">
  <testsuites>
    <testsuite name="ghi_geojson">
      <directory>./tests/src/Unit</directory>
      <directory>./tests/src/Kernel</directory>
      <exclude>./tests/src/Unit/GeoJsonDirectoryListTest.php</exclude>
    </testsuite>
  </testsuites>
</phpunit>