.hpc-pie-chart-wrapper svg {
  width: auto;
  height: 1.4rem;
  transform: rotate(-90deg);
  border: 1px solid var(--hpc-orange);
  border-radius: 50%;
}

.hpc-pie-chart-wrapper svg circle {
  fill: var(--cd-orange--light);
  stroke: var(--hpc-orange);
  stroke-width: 32;
  stroke-dasharray: 100 100; /* for 38% */
}
