<div data-cd-component="ghi-download" data-cd-icon="arrow-down" class="cd-dropdown" aria-labelledby="dropdown-title" data-cd-toggable="{{ button_label }}">
  <div>
    {{ download_links }}
  </div>
</div>